<br>
<h5>进场离场动画</h5>
<br>
<div style="padding: 8px; border: 1px solid #000000; float: left">
    <h5>动画结束保留状态</h5>
    <br>
    <div style="width: 200px; height: 200px; background-color: #67ee38" [@flyInOut]="'in'"></div>

</div>

<div style="padding: 8px; border: 1px solid #000000; margin-left: 8px; float: left">
    <h5>动画结束保留状态</h5>
    <br>
    <div style="width: 200px; height: 200px; background-color: #67ee38" [@scaleInOut]></div>

</div>

<div style="padding: 8px; border: 1px solid #000000; margin-left: 8px; float: left">
    <h5>动画结束保留状态</h5>
    <br>
    <div style="width: 200px; height: 200px; background-color: #67ee38" [@opacityInOut]></div>

</div>
