<h1>Angular Animation (Angular 动画)</h1>
<nav>
    <a routerLink="/state" routerLinkActive="active">状态动画</a>
    <a routerLink="/enter" routerLinkActive="active">入场出场动画</a>
    <a routerLink="/keyframes" routerLinkActive="active">关键帧</a>
    <a routerLink="/group" routerLinkActive="active">并行动画组</a>
    <a routerLink="/callback" routerLinkActive="active">动画回调</a>
    <a routerLink="/sequence" routerLinkActive="active">sequence顺序动画</a>
    <a routerLink="/query" routerLinkActive="active">query动画(子元素动画)</a>
    <a routerLink="/stagger" routerLinkActive="active">stagger交错动画</a>
    <a routerLink="/child" routerLinkActive="active">animateChild</a>
</nav>
<router-outlet></router-outlet>

