<h1>Angular Animation (Angular 动画)</h1>
<nav>
    <a routerLink="/state" routerLinkActive="active">1. 状态动画</a>
    <a routerLink="/enter" routerLinkActive="active">2. 入场出场动画</a>
    <a routerLink="/keyframes" routerLinkActive="active">3. 关键帧</a>
    <a routerLink="/group" routerLinkActive="active">4. 并行动画组</a>
    <a routerLink="/callback" routerLinkActive="active">5. 动画回调</a>
    <a routerLink="/sequence" routerLinkActive="active">6. sequence顺序动画</a>
    <a routerLink="/query" routerLinkActive="active">7. query动画(子元素动画)</a>
    <a routerLink="/stagger" routerLinkActive="active">8. stagger交错动画</a>
    <a routerLink="/child" routerLinkActive="active">9. animateChild</a>
    <a routerLink="/useanimation" routerLinkActive="active">10. animate封装</a>
</nav>
<router-outlet></router-outlet>

